@import "ui-variables";

.blueimage{
  max-height: 500px;
  overflow-y: scroll;
}

.displaypictures{
  display: flex;
  flex-direction: row;
}

.column1,
.column2,
.column3{
  width: 33.3%;
  padding: 3px;
  display: flex;
  flex-direction: column;
}

.column1{

}

.column2{
}

.column3{
}

.viewheader{
  display: flex;
  flex-direction: row;
  padding: 5px 2px;
}

.viewheader .icon-search{
  margin: auto 10px;
}

.imagecontainer{
  padding: 3px 0;
}

.imagecontainer img{
  max-width: 100%;
  cursor: pointer;
}
