@import "ui-variables";

.blueimage {}

.viewheader {
  display: flex;
  flex-direction: row;
  padding: 5px 2px;
}

.viewheader .icon {
  margin: auto 4px auto 10px;
  cursor: pointer;
}

.display {
  max-height: 500px;
  overflow-y: scroll;
}

.display::-webkit-scrollbar {
  width: 0 !important;
}

.displaypictures {
  position: relative;
  min-height: 500px;
}

.grid {
  display: flex;
  width: auto;
}

.column {
  background-clip: padding-box;
}

.imagecontainer {
  width: 100%;
  padding: 3px;
}

.imagecontainer img {
  width: 100%;
  cursor: pointer;
}
